._1yib{bottom:0;left:0;overflow-y:hidden;pointer-events:none;position:fixed;right:0;top:0;z-index:400}._2alo{position:absolute}

#bootloader_U9kM6{height:42px;}.bootloader_U9kM6{display:block!important;}